body {
  background-color: #eeeeee;
  margin: 0;
}

#header-img {
  width: 400px;
}

#header {
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#nav-bar a {
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 14px 16px;
  justify-content: space-around;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email {
  font-size: 17px;
}

#submit {
  font-weight: bold;
  background-color: #f1c40f;
  border: none;
  font-size: 20px;
  margin: 15px 0px;
  cursor: pointer;
}

#features {
    width: 70vw;
    margin: auto;
}

.feature {
  display: flex;
}

.icon i {
  font-size: 50px;
  color: darkorange;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 20vw;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  padding: 5px;
  width: 80vw;
}

.description h2 {
  margin-bottom: 0px;
}
